.idea
.DS_Store
.vscode
composer.phar
/vendor
.phpunit.result.cache

.env
.env.local

error_log*
*.lock
*.xls
*.doc
*.log
.htaccess
chmod
test.php
ht.access
*.xlsx


/target/*
!/target/.gitkeep
/core/cache/
/public/assets/components/minifyx/cache/
/core/components/
/public/assets/components/
